.container1{
    margin: auto;
    margin-top: 50px;
    width: 30%;
    border: 3px solid green;
    padding: 10px;
    
}

.container2{
    margin: auto;
    width: 30%;
    border: 3px solid green;
    padding: 10px;
}

.container3{
    margin: auto;
    width: 30%;
    border: 3px solid green;
    padding: 10px;
}

.container4{
    margin: auto;
    width: 30%;
    background-color: green;
    padding: 1px;
    text-align: center;
    border-radius: 50px;
}

.c5{
    text-align: right;
    font-size: 20px;
}

.collapsible {
    background-color: green;
    color: white;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    margin: auto;
      
    
  }
  
  .active, .collapsible:hover {
    background-color: rgb(18, 163, 86);
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    background-image: url("");
    
    
  }